@charset "utf.8"
/* Css Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }

   /* Fin Reset CSS */


h1{
    color: white;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    font: normal 2.4em Verdada, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #00F, #0CF);
    padding: 15px;
    box-shadow: blue 10px 10px 8px;
    text-shadow: white 3px 3px 2px;
}

h2{
    text: bold 1.7em Verdada, Geneva, sans-serif;
    margin: 0px;
    padding: 5px 0px 5px 0px; 
}

body{
    font-size: 62.5%;
}

section{
    width: 90%;
    margin: 15px auto;
    border-top: 1px dashed #999;
    
}

figure{
    float: left;
}

figure img{
    border-radius: 10px;
    padding: 4px;
    background-color: #999;
    transition: transform 0.3s ease-in-out 0.2s;
    box-shadow: #999 5px 5px 10px;

}

figcaption{
    font: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 5px auto;
    text-align: center;
}

figure img:hover{
    transform: scale(1.2);
}

footer{
    clear:both;
    padding: 100px;
}

footer p{
    font: 1.6em Georgia, "Times New Roman", Times, serif;
    color:#666;
    margin: 10px 8px;
}